# SPDX-FileCopyrightText: 2023 Kevin de Jong <monkaii@hotmail.com>
#
# SPDX-License-Identifier: CC0-1.0

/lib/assets/index.js linguist-generated=true
/lib/get/index.js linguist-generated=true
/lib/main/index.js linguist-generated=true

